<ion-view view-title="Reports">
  <ion-nav-buttons side="right">
  
    <button ng-click="addNewReport()" class="button icon ion-plus"></button>
    <!--
    <button ng-click="showPopover($event)" class="button icon ion-android-more-vertical"></button>
    -->
  </ion-nav-buttons>
  <ion-content>

  <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search"  ng-model="searchFilter" >
  </label>
</div>
        
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="report in reports | filter: {note1:searchFilter}" type="item-text-wrap" href="#/tab/reports/{{report.id}}">
        <img ng-src="{{report.image}}">
        <h2>{{report.note1}}</h2>
        <p>{{report.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-positive" ng-click="editReport(report)">
          Edit
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="remove(report)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
